<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innolabs.spydroid"
    android:versionCode="1"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.innolabs.spydroid.SplashActvity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.innolabs.spydroid.MainActivity" 
            android:label="@string/app_name" > 
            
        </activity>
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity android:name="com.innolabs.spydroid.AntiTheftPreferences"
            android:label="@string/app_name" >
            
        </activity>
        
        <receiver android:name="com.innolabs.spydroid.BootReceiver">
            
            <intent-filter>
                
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                
            </intent-filter>
            
        </receiver>
        
        
        <service android:name="com.innolabs.spydroid.MainService"> </service>
        <service android:name="com.innolabs.spydroid.RootService"></service>
        
        <service android:name="com.innolabs.spydroid.CallListeners"> </service>
        <service android:name="com.innolabs.spydroid.SMSListeners"> </service>
        <service android:name="com.innolabs.spydroid.LocationsListener"> </service>
        <service android:name="com.innolabs.spydroid.AntiTheftService"> </service>
        <service android:name="com.innolabs.spydroid.SimChangeChecker"> </service>
        <service android:name="com.innolabs.spydroid.WriteDataBasetoXML"> </service>
        <service android:name="com.innolabs.spydroid.SpyDroidMailSenderService"> </service>
        <service android:name="com.innolabs.spydroid.AntiTheftMailSenderService"> </service>
                
    </application>

</manifest>